/*style reset*/
h1, h2, h3, h4, h5, h6, p { margin: 0;}
html {box-sizing: border-box;}
*, *::after, *::before {box-sizing: inherit;}
img { display:block; max-width: 100%; height: auto;}
address { font-style: normal; }
.link {text-decoration: none; color:inherit; }
.list {list-style: none; padding: 0; margin: 0;}
/*end style*/



:root{
    --primary-color:#FF6C00;
    --white-text: #FFFFFF;
    --blue-prymary: blue;

}
body{
    font-family:"Open Sans", sans-serif;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 130px 55px;
    background-image: url("./serviciul1.png");
}
.header-container{
    max-width: 1280px;
     margin: 0;
     padding: 40px 55px; 
}
.header-list .header-item{
    display: inline;
margin-left: 40px;
}
.header-list .header-item:first-child{
    display: inline;
    margin-left: 0px;
}
.header-link{
font-size: 12px;
font-weight: 600;
line-height: 16.34px;
letter-spacing: 0.1em;
color:var(--white-text);
}

.header-link-active,
.header-link:hover{
    color: var(--primary-color);

}

.main-header{
    background-color: blue;
}
.prymary-button{
    font-size: 12px;
    font-weight: 600;
    line-height: 16.34px;
    letter-spacing: 0.09em;
    color: var(--white-text);
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 25px;
    padding-left: 25px;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    background-color: inherit;
    color:var(--white-text)
}

.hero-section{
    background-attachment: var(--blue-prymary);
}

.hero-section-subtitle{
font-size: 11px;
font-weight: 600;
line-height: 14.98px;
letter-spacing: 0.1em;
color: #9DA4BD99;
}

.hero-title{
    font-family: Raleway;
    font-size: 72px;
    font-weight: 700;
    line-height: 84.53px;
    letter-spacing: 0.05em;
   color: var(--white-text);
    
}
.hero-description{
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.02em;
color:#9DA4BD;

}
ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    /* margin: 0;
    padding: 0; */
    list-style-type: none;
  }
  
  h1,
  h2,
  h3,
  p {
    margin-block-start: 0;
    margin-block-end: 0;
    /* margin: 0; */
  }
  
  a {
    text-decoration: none;
    font-style: normal;
  }