:root{
    --primary-color:#FF6C00;
    --white-text: #FFFFFF;
    --blue-prymary: blue;

}
body{
    font-family:"Open Sans", sans-serif;
}
.header-link{
font-size: 12px;
font-weight: 600;
line-height: 16.34px;
letter-spacing: 0.1em;
color: :(var(--white-text));
}

.header-link-active,
.header-link:hover{
    color: var(--primary-color);

}

.main-header{
    background-color: blue;
}
.prymary-button{
    font-size: 12px;
    font-weight: 600;
    line-height: 16.34px;
    letter-spacing: 0.09em;
    color: var(--white-text);
    cursor: pointer;
}